.header-nav {
    display: flex;
    column-gap: 25px;
    font-size: 16px;

    & a {
      text-decoration: none;
      color:rgb(31, 8, 0)
    }

    & a:hover{
      color:firebrick;
    }
}

.header-nav__item:hover {
  scale: 1.2;
  transition: scale 0.2s;
}